matplotlib==3.3.2
#neo4j==4.4.5
neo4j-python-driver==4.4.5
numpy~>1.22
pandas==1.4.1
scikit-learn==1.0.2
plotly==4.14.3
ipywidgets>=7.5
networkx>=2.5
xlrd >= 1.0.0
openpyxl >= 3.0.9
pyarrow==7.0.0
#pip install graphdatascience==1.2.0